<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Pour afficher les informations de debugging -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <!-- Déclaration du contrôleur central de JSF -->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>/faces/user/home.xhtml</welcome-file>
    </welcome-file-list>
    

    <!--
    By default images will be store under glassfish subdirectory 
    glassfish/domains/domain1/config/images
    You can change here and put another directory
    -->
    <context-param>
        <param-name>PhotoStorePath</param-name>
        <param-value>images/originals</param-value>
    </context-param>
    
    <context-param>
        <param-name>ThumbnailStorePath</param-name>
        <param-value>images/thumbnails</param-value>
    </context-param>
    
    <servlet>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
    </servlet>
    <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/webapi/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <display-name>Admin</display-name>
        <web-resource-collection>
            <web-resource-name>adminpages</web-resource-name>
            <description/>
            <url-pattern>/faces/admin/*</url-pattern>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>User</display-name>
        <web-resource-collection>
            <web-resource-name>userpages</web-resource-name>
            <description/>
            <url-pattern>/faces/user/*</url-pattern>
            <url-pattern>/user/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>USER</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
